/* Brand Colors ------------------------------------------------*/
$color1: #FFFFFF;
$color2: #000530;
$color3: #000000;
$color4: #404040;
$color5: #373737;
$color6: #00639D;
$font-color: #000530;
$h2-font-color: #FFFFFF;
$placeholder: $color2;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
$background-color1: #A2CCE5;
