<section class="about">
  <div class="layout">
    <img src="./images/about-background-img.png" alt="#">
      <div class="about-info">
        <h3>О СПЕЦИАЛИСТЕ</h3>
        <div class="about-photo">
          <img src="./images/about-img-1.png" alt="#">
        </div>
        <div class="info-spec">
          <h4>Елена Пастарс</h4>
          <p>
            Здравствуйте! Я получила высшее экономическое образование
            в Киевском институте бизнеса и технологий и имею опыт
            работы <span>15 лет</span>, из них последние 10 лет главным бухгалтером.
          </p>
          <p>
            Бухгалтерский учет очень важен в ведении бизнеса,
            поскольку помогает отследить доходы и расходы,
            обеспечивать соблюдение требований законодательства
            и предоставлять инвесторам, руководству и правительству
            информацию, которая может использоваться при
            принятии деловых решений.
          </p>
          <button class="btn"><a href="#">НАПИСАТЬ</a></button>
        </div>
    </div>
  </div>
</section>