<section class="contacts">
  <div class="layout">
    <h3>КОНТАКТЫ</h3>
    <ul class="cont">
      <li>
        <a target="_blank" rel="noopener noreferrer" href="tel:+380661124081">
          <img src="./images/contacts-phone.png" alt="#">
          <p>066-112-40-81</p>
        </a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="mailto:Pastare@ukr.net">
          <img src="./images/contacts-email.png" alt="#">
          <p>Pastare@ukr.net</p>
        </a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100051143085888">
          <img src="./images/contacts-fb.png" alt="#">
          <p>Елена Пастарс</p>
        </a>
      </li>
    </ul>
  </div>
</section>