<header>
  <div class="layout">
    <div class="logo">
      <a href="#">
        <img src="./images/logo-header.png" alt="#">
      </a>
      <h1>Counter services</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">УСЛУГИ</a>
        </li>
        <li>
          <a href="#">НАВЫКИ</a>
        </li>
        <li>
          <a href="#">О СПЕЦИАЛИСТЕ</a>
        </li>
        <li>
          <a href="#">КОНТАКТЫ</a>
        </li>
      </ul>
    </nav>
    <div class="mob_menu"></div>
  </div>
</header>
