<div class="pop-up-menu">
  <div id="close-popup-button" class="close-pop-up"></div>
  <p>НАПИШИТЕ МНЕ В ЛЮБОЙ МЕССЕНДЖЕР</p>
  <ul class="flex-cont-popup">
    <li class="flex-item-popup">
      <a title="Telegram" href="https://t.me/+380661124081">
        <img src="./images/popup-tg.png" alt="tg">
      </a>
    </li>
    <li class="flex-item-popup">
      <a title="WhatsApp" href="https://wa.me/+380661124081">
        <img src="./images/popup-wpp.png" alt="wpp">
      </a>
    </li>
    <li class="flex-item-popup">
      <a title="Viber" href="viber://chat?number=380661124081">
        <!--  href="viber://chat?number=+380661124081" - для пк -->
        <img src="./images/popup-vb.png" alt="vb">
      </a>
    </li>
    <!-- <li class="flex-item-popup">
            <a href="skype:nikname?chat">
              <img src="./images/popup-skype.png" alt="skype">
            </a>
          </li> -->
    <li class="flex-item-popup">
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100051143085888">
        <img src="./images/popup-fb.png" alt="fb">
      </a>
    </li>
  </ul>
</div>