<section class="services">
  <div class="layout">
    <h3>УСЛУГИ</h3>
    <ul>
      <li class="services-link">
        <a href="#">
          <img src="./images/services-img-1.png" alt="#" class="bgi">
          <img src="./images/services-icon-1.png" alt="#" class="ico">
          <p>
            Ведение бухгалтерии юридических лиц с НДС
          </p>
        </a>
      </li>
      <li class="services-link">
        <a href="#">
          <img src="./images/services-img-2.png" alt="#" class="bgi">
          <img src="./images/services-icon-2.png" alt="#" class="ico">
          <p>
            Ведение бухгалтерии ФОП
          </p>
        </a>
      </li>
      <li class="services-link">
        <a href="#">
          <img src="./images/services-img-3.png" alt="#" class="bgi">
          <img src="./images/services-icon-3.png" alt="#" class="ico">
          <p>
            Разовые услуги
          </p>
        </a>
      </li>
      <li class="services-link">
        <a href="#">
          <img src="./images/services-img-4.png" alt="#" class="bgi">
          <img src="./images/services-icon-4.png" alt="#" class="ico">
          <p>
            Консультации
          </p>
        </a>
      </li>
      <li class="services-link">
        <a href="#">
          <img src="./images/services-img-5.png" alt="#" class="bgi">
          <img src="./images/services-icon-5.png" alt="#" class="ico">
          <p>
            Другие услуги
          </p>
        </a>
      </li>
      <li class="learn-more">
        <p>Хочешь узнать больше?</p>
        <button class="btn"><a href="#">ПОДРОБНЕЕ</a></button>
      </li>
    </ul>
  </div>
</section>