<section class="skills">
  <div class="layout">
    <h3>НАВЫКИ</h3>
    <ul>
      <li>
        <img src="./images/skills-img-1.png" alt="#">
        <h4>ЗНАНИЯ</h4>
        <p>Знание всех участков бухгалтерского и налогового учета, НДС, ВЭД</p>
      </li>
      <li>
        <img src="./images/skills-img-2.png" alt="#">
        <h4>ПРОГРАММЫ</h4>
        <p>Работа в 1С 8.2, 8.3 (бухгалтерия, предприятие, УТП, УПП, УНФ) и офисные программы</p>
      </li>
      <li>
        <img src="./images/skills-img-3.png" alt="#">
        <h4>СКОРОСТЬ</h4>
        <p>Умение ориентироваться в изменениях законодательной базы и применять ее на практике</p>
      </li>
    </ul>
  </div>
</section>